head,body{
    padding: 0;
    margin: 0;
}
.logo{
    width: 60px;
    height: 60px;
}
.social-media{
    width:22px;
    height:20px;
}
header,footer{
    background-color: rosybrown;
}
.bg-gray{
    background-color: #e0e0e0;;
}