.detail-image{
    margin:2% 4% 0 4%;
}
.detail-image img{
    width:50%
}
.detail-content{
    margin:0 4% 0 4%;
}
.detailhotel{
    padding: 1.5% 0;
}
.paddingdetail{
    padding: 1% 0 1% 0;
}
.amenities{
    padding-left: 3%;
}