
.city-images{
    width: 150px;
    height: 150px;
    border-radius: 25%;
    box-shadow: 10px 10px 10px gray;
}
.city-cards li {
    display: inline-block;
    text-align: center;
    
}
.city-cards li a{
    display: inline-block;
    position: relative;
}
.city-cards li .text{
    color: #f1f1f1;
    padding-top: 45%;
    text-align: center;
}
.city-cards li .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25%;
    top: 0;
    display: none;
    background-color: rgba(0,0,0,0.5);
}
.city-cards li:hover .overlay{
    display: block;
}
.search-background{
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.city-cards{
    margin-left: 15%;
    margin-right: 15%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.city-cards li{
    padding: 4%;
    display: inline-block;
}
.search-bar{
background-color: #f1f1f1;
border: 1px solid transparent;
padding: 10px;
border-radius: 12px;
font-size: 16px;
width:30%;
}
.viewmore{
    text-align: center;
}
.viewmore a{
    text-decoration: none;
    color: black;
}

.login-holder a{
    vertical-align: middle;
}
section{
    margin-bottom: 40px;
}

@media  screen and  (max-width:768px){
    .city-cards{
        flex-wrap: wrap;
    }
    
}

@media  screen and  (max-width:576px){
    .city-cards{
        display:block;
    }
    .city-cards li{
        display: block;
    }
}