.list-box img{
    width:250px;
    height: 250px;
}

.list-box{
    background-color:lightgray;
    margin: 2%;
    width:46%;
    
}
.list-box :hover{
    background-color: rosybrown;
}
.list-box a{
    display: flex;
    text-decoration: none;
    color:black;
}
.list-box h3{
    padding-top: 14px;
    padding-bottom: 14px;
}

.list-box p{
    padding-bottom: 14px;
}

.listnavigation ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
    display: flex;
}
.listnavigation ul li{
    display: inline-block;
    padding-right: 2%;
}

.listnavigation ul li a{
font-weight: bold;
text-decoration: none;
color:black;
}

.listdetail-content{
    display: inline-block;
    padding-left: 3%;
}
.list-panel-box{
    display: flex;
    flex-wrap: wrap;
}

@media  screen and  (max-width:768px){
    .list-panel-box{
        display: block;
    }
    .list-box{
        width: 100%;
    }
    
}

@media  screen and  (max-width:576px){
    .list-box a{
        display: block;
    }
    .list-panel-box{
        display: block;
    }
    .list-box{
        width: 100%;
    }
    .list-box  img{
        display: block;
        width: 100%;
    }
    .listdetail-content{
        display: block;
    }
}