.list-box img{
    width:250px;
    height: 250px;
}

.list-box{
    background-color:lightgray;
    margin: 2%;
    width:40%;
    
}
.list-box a{
    display: flex;
    text-decoration: none;
    color:black;
}
.list-box h3{
    padding-top: 14px;
    padding-bottom: 14px;
}
.list-box p{
    padding-bottom: 14px;
}
.listnavigation{
padding: 1%;
}
.listnavigation ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
    display: flex;
}
.listnavigation ul li{
    display: inline-block;
    padding-right: 2%;
}

.listnavigation ul li a{
font-weight: bold;
text-decoration: none;
color:black;
}
#list-view{
    display: flex;
    
    flex-wrap: wrap;
}
#map-view{
    display: none;
}
.listdetail-content{
    display: inline-block;
    padding-left: 3%;
}