.hotel-details{
     background-color: rgb(132,136,139);
     width:50%;
     height: 20%;
     margin :2% auto;
}

.hotel-details img{
    width:500px;
    height: 500px;
}
.booking-details{
    margin: 0 0 0 2%;
}
.tarrif-details{
    margin:2%;
    border:1px solid black;
    border-radius: 5px;
    padding: 1% 2%;
}
.content h2{
padding: 1% 0 1% 0 ;
}
.content p{
    padding: 1% 0 1% 0;
}
.paynow{
    text-decoration: none;
    color: black;
}